<head>
    {{> head }}
</head>

<body>
    {{> adminnav }}

    <div class="maincontent" >
         {{#if errormessages }}
        <div class="row">
            <div class="col s12">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title">ACTION FAILED. ERRORS:</span>
                   {{#each errormessages }}
                    <p>
                        {{ this.param }}(val: {{ this.value }}) : {{ this.msg }}
                    </p>
                    {{/each}}
                    
                </div>
            </div>
            </div>
        </div>
        {{/if }}
        {{#if successmessage }}
        <div class="row">
            <div class="col s12">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">{{successmessage}} </span>
                    
                </div>
            </div>
            </div>
        </div>
        {{/if }}


        {{!-- ADD ENTRY --}}
        <div class="row" style="margin-bottom: 0;">
            <form id="addentryform" class="col s12" style="margin-bottom: 2px;" action="/api/atlas" method="post">
                <div class="card-panel" style="margin-bottom: 0;">
                    <h5 style="margin-top: 0;">Add Entries</h5>
                    <div class="row" style="margin: 0;">
                        <div class="row postrow">
                            <div class="input-field col s6 postrow">
                                <input id="name" name="name" class="validate" type="text" data-length="60">
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field col s6 postrow">
                                <input id="email" name="email" class="validate" type="email" data-length="60">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row postrow">
                            <div class="col m6 s12" style="margin: 0; padding: 0;">
                                <div class="input-field col s9 postrow">
                                    <textarea id="location" name="location" class="materialize-textarea" type="text"
                                        data-length="255"></textarea>
                                    <label for="location">Location</label>
                                </div>
                                <div class="col s3">
                                    <a id="latlong-lookup" class="waves-effect waves-light btn">get lat long</a>
                                </div>
                            </div>

                            <div class="input-field col s6 m3 postrow">
                                <input id="latitude" name="latitude" type="text" data-length="60">
                                <label for="latitude">Latitude</label>
                            </div>
                            <div class="input-field col s6 m3 postrow">
                                <input id="longitude" name="longitude" type="text" data-length="60">
                                <label for="longitude">Longitude</label>
                            </div>
                        </div>
                        <div class="row postrow">
                            <div class="input-field col s6 postrow">
                                <select multiple name="products" id="productselect">
                                    <option value="" disabled selected>Choose Product</option>
                                </select>
                                <label>Select Products</label>
                            </div>
                        </div>
                        <div class="row postrow">
                            <div class="input-field col s6 postrow">
                                <input id="patients" name="patients" type="text" data-length="11">
                                <label for="patients">Number of Patients</label>
                            </div>
                            <div class="input-field col s6 postrow">
                                <input id="website" name="website" type="text" data-length="60">
                                <label for="website">Website</label>
                            </div>
                        </div>
                        <div class="row post">
                            <div class="input-field col s12 postrow">
                                <textarea id="description" name="description" class="materialize-textarea" data-length="300"></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        </button>
                    </div>
                </div>
            </form>

            {{!-- TABLE --}}
            <div class="row" style="margin-top: 0px; margin-bottom: 2px;">
                <div class="col s12">
                    <div class="card-panel" style="padding:0px;">
                        <table class="highlight fixed_header" style="margin-top : 0; ">
                            <thead style="" class="blue white-text">
                                <th class="first">Name</th>
                                    <th style="padding:4px;">
                                        <div class="nav-wrapper">
                                            <div class="input-field searchinput">
                                            <input id="search" type="search" required>
                                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                            <i class="material-icons">close</i>
                                            </div>
                                        </div>
                                    </th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        {{!-- MODALS --}}
        <div id="modal1" class="modal" style="max-height: 3000px;">
            <form id="updateform">
                <div class="modal-content" style="padding-bottom: 0;">
                    <div class="row" style="margin-top: 0; margin-bottom: 0;">
                        <div class="col s12">
                            <h5 style="margin-top: 5px; margin-bottom: 25px; ;" id="modalid"></h5>
                        </div>
                        <div class="input-field col s12">
                            <input name="name" value="N/A" id="modalname" type="text" class="validate">
                            <label class="active" for="modalname">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="email" value="N/A" id="modalemail" type="text" class="validate">
                            <label class="active" for="modalemail">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <select multiple name="products" id="modalproducts" type="text" class="validate">
                                <option value="" disabled selected>Choose Product</option>
                            </select>
                            <label>Select Products</label>
                        </div>
                        <div class="input-field col s12">
                            <input name="location" value="N/A" id="modallocation" type="text" class="validate">
                            <label class="active" for="modallocation">Location</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="latitude" value="N/A" id="modallatitude" type="text" class="validate">
                            <label class="active" for="modallatitude">Latitude</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="longitude" value="N/A" id="modallongitude" type="text" class="validate">
                            <label class="active" for="modallongitude">Longitude</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="website" value="N/A" id="modalwebsite" type="text" class="validate">
                            <label class="active" for="modalwebsite">Website</label>
                        </div>
                        <div></div>
                        <div class="input-field col s6">
                            <input name="patients" value="N/A" id="modalpatients" type="text" class="validate">
                            <label class="active" for="modalwebsite">Number of Patients</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea name="description" style="max-height: 140px;" id="modaldescription" class="materialize-textarea"></textarea>
                            <label class="active" for="modaldescription">Description</label>
                        </div>

                    </div>
                </div>

                <div class="modal-footer" style="padding-right: 30px;">
                    <a id="edit-latlong-lookup" class="waves-effect waves-light btn" style="margin-right: 20px;">get
                        lat long</a>
                    <div class="btn orange waves-effect waves-light" style="margin-right: 20px;" id="editmodalbutton">Edit
                    </div>
                    <div class="btn red waves-effect waves-light" onclick="$('#deleteModal').modal('open');">Delete
                    </div>
                </div>
            </form>
        </div>

        <div id="deleteModal" style="margin-top: 20%; width: 440px;" class="modal">
            <div class="modal-content" style="padding-bottom: 0;">
                <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
                <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="red-text"
                        style="font-weight: 500">DELETE</span> this?</p>
            </div>
            <div class="modal-footer">
                <div href="" id="submitdel" class="modal-close waves-effect waves-green btn-flat">Yes I am sure</div>
                <div class="modal-close waves-effect waves-green btn-flat" onclick="$('#deleteModal').modal('close'); return false;">Cancel</div>
            </div>
        </div>

        <div id="editModal" style="margin-top: 20%; width: 440px;" class="modal">
            <div class="modal-content" style="padding-bottom: 0;">
                <span class="red-text" style="font-size: 26px; font-weight: 500">WARNING!</span>
                <p style="font-size: 26px; margin-bottom: 5px; margin-top: 10px;">Are you sure you want to <span class="orange-text"
                        style="font-weight: 500">EDIT</span> this?</p>
            </div>
            <div class="modal-footer">
                <div href="" id="submitedit" class="modal-close waves-effect waves-green btn-flat">Yes I am sure</div>
                <div class="modal-close waves-effect waves-green btn-flat" onclick="$('#editModal').modal('close'); return false;">Cancel</div>
            </div>
        </div>

    </div>

    {{!-- JS --}}
    <script>
        $(document).ready(function () {

            var querieddata;
            $.getJSON('/api/products', (data) => {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    console.log('in');
                    let currentgroup = 'selectgroup' + data[i].id;
                    $('#productselect').append('<optgroup id="' + currentgroup + '" label="' + data[i].name + '"></optgroup>');
                    for (var j = 0; j < data[i].versions.length; j++) {
                        $('#' + currentgroup).append('<option value="' + data[i].versions[j].id + '">' + data[i].versions[j].name + '</option>');
                    }

                    $('#modalproducts').append('<optgroup id="' + currentgroup + '" label="' + data[i].name + '"></optgroup>');
                    for (var j = 0; j < data[i].versions.length; j++) {
                        $('#modalproducts').append('<option value="' + data[i].versions[j].id + '">' + data[i].versions[j].name + '</option>');
                    }

                }
                $('select').formSelect();
            });

            $('#addentryform').validate({ // initialize the plugin
                rules: {
                    name: {
                        required: true,
                        minlength: 3
                    },
                    latitude: {
                        required: true
                    },
                    longitude: {
                        required: true
                    },
                    email: {
                        email: true
                    },

                }
            });

            $('#updateform').validate({ // initialize the plugin
                rules: {
                    name: {
                        required: true,
                        minlength: 3
                    },
                    latitude: {
                        required: true
                    },
                    longitude: {
                        required: true
                    },
                    email: {
                        email: true
                    }
                }
            });

            {{#if admin}}
            $.getJSON('/api/atlas', (data) => {
            {{ else }}
            $.getJSON('/api/atlas/created/' + {{ userid }}, (data) => {
            {{/if}}

                querieddata = data;
                for (var i = 0; i < data.length; i++) {
                    $('tbody').append('<tr class="databaseElement modal-trigger" data-productid="' + i + '" href="#modal1"><td class="first">' + data[i].name + '</td><td></td></tr>');
                }
                $(".databaseElement").click(function () {
                    $("#modalid").text("Entry ID: " + data[$(this).data('productid')].id);
                    $("#modalid").data('productid', data[$(this).data('productid')].id);
                    $("#modalwebsite").val(data[$(this).data('productid')].website);
                    $("#modallocation").val(data[$(this).data('productid')].location);
                    $("#modallatitude").val(data[$(this).data('productid')].latitude);
                    $("#modallongitude").val(data[$(this).data('productid')].longitude);
                    $("#modaldescription").val(data[$(this).data('productid')].description);
                    $("#modalname").val(data[$(this).data('productid')].name);
                    $("#modalpatients").val(data[$(this).data('productid')].patients);
                    $("#modalemail").val(data[$(this).data('productid')].email);
                    M.textareaAutoResize($('#modaldescription'));
                    var tempproduct = data[$(this).data('productid')].products;
                    var productslist = [];
                    for (var i = 0; i < tempproduct.length; i++) {
                        productslist.push(tempproduct[i].id);
                    }
                    $('#modalproducts option').each(function () {
                        var inlist = false;
                        for (var i = 0; i < productslist.length; i++) {
                            if ($(this).val() == productslist[i]) {
                                inlist = true;
                                break;
                            }
                        }
                        if (inlist) {
                            this.selected = true;
                        } else {
                            this.selected = false;
                        }
                    });
                    $('#modalproducts').formSelect();

                });
            })
            $("#latlong-lookup").click(() => {
                var link = "https://nominatim.openstreetmap.org/search?format=json&q=" + $('#location').val();
                $.getJSON(link, function (data) {
                    $("label[for='latitude']").addClass('active');
                    $("label[for='longitude']").addClass('active');
                    $('#latitude').val(data[0].lat);
                    $('#longitude').val(data[0].lon);
                })

            })
            $("#edit-latlong-lookup").click(() => {
                var link = "https://nominatim.openstreetmap.org/search?format=json&q=" + $('#modallocation').val();
                $.getJSON(link, function (data) {
                    $("label[for='modallatitude']").addClass('active');
                    $("label[for='modallongitude']").addClass('active');
                    $('#modallatitude').val(data[0].lat);
                    $('#modallongitude').val(data[0].lon);
                })
            })

            $("#editmodalbutton").click(() => {                
                if(!$("#updateform").valid()) return false;
                $('#editModal').modal('open');
            });

            $("#submitedit").click((e) => {
                e.preventDefault();

                var formdata = $("#updateform").serialize();
                
                if(!$("#updateform").valid()) return false;
                $.ajax({
                    url: "/api/atlas/" + $("#modalid").data("productid"),
                    type: 'PUT',
                    data: formdata,
                    success: () => {
                        console.log('success!!');
                    }
                });
                location.reload();
            });

            $("#submitdel").click(function () {
                $.ajax({
                    url: "/api/atlas/" + $("#modalid").data("productid"),
                    type: 'DELETE',
                    success: function () {
                        console.log('success!!');
                    }
                });

                location.reload();
            });
            
            if (!RegExp.escape) {
                RegExp.escape = function (s) {
                    return s.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&")
                };
            }
                
            var $rows = $('.databaseElement');
            $('#search').keyup(function () {
                var regex =  new RegExp(RegExp.escape($.trim(this.value).replace(/\s+/g, ' ')), 'i')
                $('.databaseElement').hide().filter(function () {
                    var text = $(this).children(".first").text().replace(/\s+/g, ' ');
                    return regex.test(text)
                }).show();
            });
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    {{> footer }}
</body>